.header {
  width: 100%;
  height: 3rem;
  display: flex;
  padding: 0 2rem;
  justify-content: flex-end;
  align-items: center;
  background-color: #fafafa;
  box-shadow: 0px 0px 5px;
}

.nav ul {
  list-style: none;
  display: flex;
  margin: 0;
}

.nav li {
  margin-right: 2rem;
  font-size: 1.25rem;
}

.nav a {
  text-decoration: none;
  padding: 10px;
  color: black;
  transition: 0.1s;
}

.nav a:hover,
.nav a:active,
.nav a.active {
  color: #2574eb;
  border-bottom: 3px solid #2574eb;
}
